@font-face {
  font-family: 'EurostileLT-BoldExtendedTwo';
  src: url('http://localhost:3000/assets/fonts/2D185A_0_0.eot');
  src: url('http://localhost:3000/assets/fonts/2D185A_0_0.eot?#iefix') format('embedded-opentype'),
  url('http://localhost:3000/assets/fonts/2D185A_0_0.woff2') format('woff2'),
  url('http://localhost:3000/assets/fonts/2D185A_0_0.woff') format('woff'),
  url('http://localhost:3000/assets/fonts/2D185A_0_0.ttf') format('truetype');
}

@font-face {
    font-family: "Clear Sans";
    src: url("/assets/fonts/ClearSans-Light-webfont.eot");
    src: url("/assets/fonts/ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg"),
         url("/assets/fonts/ClearSans-Light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("/assets/fonts/ClearSans-Regular-webfont.eot");
    src: url("/assets/fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
         url("/assets/fonts/ClearSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("/assets/fonts/ClearSans-Bold-webfont.eot");
    src: url("/assets/fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg"),
         url("/assets/fonts/ClearSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
